.categories_swiper_slider{
    height: 40%;
}

.categories-swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.categories-swiper-slide  img{
    border-radius: 10px;
    height: 70%;
    width: 100%;
}

.categories-swiper-slide a{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 400;
    color: black;
}
.categories-swiper-slide h6{
    margin-top: 0.65rem;
    font-weight: 500;
} 