.PromoSwiper {
	height: 200px;
}

.promo-swiper-slide {
	border-radius: 0.85rem;
	height: 92.5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.promo-swiper-slide a {
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.swiper-pagination-bullet {
	background-color: rgb(50, 50, 50);
	border-radius: 4px;
	width: 6px;
	height: 5px;
	transition: all 1000ms;
}

.swiper-pagination-bullet-active {
	transition: all 1000ms;
	background-color: #1f2024;
	width: 24px;
	height: 5px;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: -1.5%;
}