
.swiper-slide {
	height: 180px;
    border-radius: 0.85rem;
	background-color: rgb(219, 219, 219);
	display: flex;
	justify-content: center;
	align-items: center;
}


.swiper-pagination-bullet {
    background-color: rgb(159, 159, 159);
	border-radius: 4px;
	width: 6px;
	height: 5px;
}
.swiper-pagination-bullet-active {
	background-color: #1f2024;
    width: 24px;
	height: 5px;
}
