.product-image-slider {
	height: 280px;
}

.image-slider-pagination-bullet {
	background-color: rgba(255, 255, 255, 0.176);
	border-radius: 8px;
	width: 32px;
	height: 100%;
	margin: 0px 5px;
	cursor: pointer;
	transition: all 700ms;
}

.image-slider-pagination-bullet-active {
	background-color: #fff;
	width: 48px;
}

.swiper-slide {
	border-radius: 12px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	bottom: 3%;
	height: 6px;
}
