.outline_path {
	fill: #1f2024;
	transition: "all 500ms";
}
.outline_stroke {
	stroke: #1f2024;
	transition: "all 500ms";
}

.fillness_path {
	fill: none;
	transition: "all 500ms";
}

.fillness_stroke {
	stroke: none;
	transition: "all 500ms";
}

.Mui-selected svg .outline_path {
	fill: none;
	transition: "all 500ms";
}
.Mui-selected svg .outline_stroke {
	stroke: none;
	transition: "all 500ms";
}
.Mui-selected svg .fillness_path {
	fill: #1f2024;
	transition: "all 500ms";
}
.Mui-selected svg .fillness_stroke {
	stroke: #1f2024;
	transition: "all 500ms";
}
