* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none; /* IE и Edge */
	scrollbar-width: none; /* Firefox */
}
